*{
  box-sizing: border-box;
}

body{
  background:#92bde7;
  color:#485e74;
  line-height:1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding:1em;
}

.fa-toggle-on > span, .fa-toggle-off > span{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
.fa-toggle-on, .fa-toggle-off, .fa-angle-down, .fa-angle-up {
  padding: 10px;
  font-size: 0.75em;
  background: transparent;
  margin: 5px;
  text-align: center;
  margin:0 0 1rem 0;
  border-radius: 3px;
  border: 1px solid #c9e6ff;
  display: none;
}

.fa-angle-up, .fa-angle-down{  
  position: fixed;
  right: 25px; 
  padding: 10px;
}

.fa-angle-up{    
  bottom : 100px;
  border: 1px solid #42db9c;
}

.fa-angle-down{
  top: 65px;
}

.container{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
}

ul{
  list-style: none;
  padding:0;
}

.brand{
  text-align: center;
}

.brand span{
  color:#fff;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
  padding: 1em;
}

.company-info{
  background:#c9e6ff;
}

.company-info h3, .company-info ul{
  text-align: center;
  margin:0 0 1rem 0;
}

.contact{
  background:#f9feff;
}

/* FORM STYLES */
.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.contact form label{
  display:block;
}

#sign-up{
  margin-top:50px;
}

.contact form .full{
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea{
  width:100%;
  padding:1em;
  border:1px solid #c9e6ff;
}

.contact form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
}

.contact form button:hover,.contact form button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}

/* GBM CSS */
.sign-up-form, .logout-button, .show-login, .chat-area{
  display: none;
  border-radius: 0;
}

/* .single-message{
  margin: 10px;  
} */

.sm-card-header, .sm-card-block{
  padding: 7px;
}

textarea {
    resize: none;
    margin-bottom: 0;
    border: none;    
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;    
}

.all-messages{
  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;  
  border: 1px solid #F9FEFF;
  border-bottom: 2px #aaa solid;
  -ms-overflow-style: none;
}
/* Hide Scroll Bar for Webkit-based browsers (Chrome and Safari) */
.all-messages::-webkit-scrollbar { 
  width: 0 !important
}
/* Hide Scroll Bar in IE 10+ */
.all-messages::-webkit-scrollbar {
  display: none;
}
.all-messages::-moz-scrollbar { 
  width: 0 !important; 
}

.errorMessage{
  display: none;
}

/* Google Like Chat: Credit to CHRIS COYIER ON JUNE 19, 2013 {https://css-tricks.com/replicating-google-hangouts-chat/} */

.discussion {
  list-style: none;
  background: #EEEEEE;
  margin: 0;
  padding: 0 0 50px 0;
}
.discussion li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}
.discussion .avatar {
  width: 5px;
  position: relative;
}
.discussion .avatar img {
  display: block;
  width: 100%;
}

.other .avatar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
}
.self .messages {
  order: 1;
  border-bottom-right-radius: 0;
}
.self .avatar {
  order: 2;
}
.self .avatar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
  /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); */
}

.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.messages p {
  font-size: 0.8rem;
  margin: 0 0 0.2rem 0;
}
.messages time {
  font-size: 0.7rem;
  color: rgb(129, 127, 127);
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

.contact-form p.full{  
    margin-top: -40px;
}
/* End Google Hangout Style */
/* End GBM CSS */

/* LARGE SCREENS */
@media screen and (min-width: 700px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > *{
    padding:2em;
  }

  .company-info h3, .company-info ul, .brand{
    text-align: left;
  }

}
/* Less than 700px */
@media screen and (max-width: 800px){
  body{    
    padding: 0.5em;
  }  

  .contact form{
    display: block;
    padding: 2em;
  }
  #chatting-form{
    padding: 0;
  }

  .wrapper > *{
    padding:.5em;
  }
  .container{
    padding: 0;
  }

  .sign-up-form h3, .login-form h3{
    padding-left: 1em;
  }
  p{
    margin-bottom: 0.5rem;
  }
  .fa-toggle-off {
    display: inline-block;
  }
}